In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
columns_name=['user_id','item_id','timestamp']
df=pd.read_csv('u.data',sep='\t',names=columns_name)

In [4]:
df.head()

     user_id  item_id  timestamp
196      242        3  881250949
186      302        3  891717742
22       377        1  878887116
244       51        2  880606923
166      346        1  886397596

In [5]:
df.shape

(100000, 3)

In [7]:
df['user_id'].nunique()

1682

In [8]:
df['item_id'].nunique()

5

In [9]:
df['user_id']

196     242
186     302
22      377
244      51
166     346
       ...
880     476
716     204
276    1090
13      225
12      203
Name: user_id, Length: 100000, dtype: int64

In [10]:
df['user_id'].nunique()

1682

In [11]:
df['item_id'].nunique()

5